.app-tags {

    .tags-table {
        
        &--name {
            min-width: 150px;
        }

        &--description {
            min-width: 150px;
        }
        &--view {
            max-width: 10px;
        }
        &--view a {
            color: #000000;
        }
        &--delete {
            max-width: 10px;
        }
        &--delete a {
            color: #000000;
        }
    }
}
