.app-feedback {
    .feedback-table {
        &--name {
            min-width: 100px;
        }
        &--message {
            min-width: 200px;
        }
        &--view {
            max-width: 10px;
        }
        &--view a {
            color: #000000;
        }
        &--delete {
            max-width: 10px;
        }
        &--delete a {
            color: #000000;
        }
    }

    .button-margin-right {
        margin-right: 10px;
    }
}
