.app-messages {

    .btn {
        border-radius: 5px;
    }

    .form-group {
        width: 100% !important;
    }

    .form-control {
        width: 100% !important;
    }

    .btn-send {
        margin-left: 5px;
    }

    .panel-body {
        padding: 10px 20px;
    }
}
