.app-interactions {

    &--feedback {
        .button {
            display: inline-block;
        }
        .text-right {
            margin-right: 10px;
        }
    }

    &--button-margin-left {
        margin-left: 5px;
    }

    &--interactions {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &--interactions li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

    &--interactions li.left .chat-body {
        margin-left: 60px;
    }

    &--interactions li.right .chat-body {
        margin-right: 60px;
    }


    &--interactions li .chat-body p {
        margin: 0;
        color: #777777;
    }

    &--circle-avatar {
        max-width: 64px;
        width: 64px;
        max-height: 64px;
        height: 64px;
        display:block;
        border-radius:50%;
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5px;
    }

    &--chat-img-left {
        margin-right: 10px;
    }

    &--chat-img-right {
        margin-left: 10px;
    }
}
