.app-dashboard {
    .messages-table {
        &--status {
            min-width: 150px;
        }
        &--tag {
            min-width: 150px;
        }
        &--status {
            min-width: 150px;
        }
        &--group {
            min-width: 150px;
        }
        &--owner {
            min-width: 150px;
        }
        &--sender,
        &--messages {
            min-width: 150px;
        }
        &--lang {
            min-width: 80px;
        }
        &--date {
            min-width: 150px;
        }
    }

    .table-responsive {
        overflow-y: hidden;
    }
}
