.app-group {

    &--table-users {
        margin-top: 15px;
    }

    .groups-table {
        
        &--name {
            min-width: 250px;
        }
        &--view {
            max-width: 10px;
        }
        &--view a {
            color: #000000;
        }
        &--delete {
            max-width: 10px;
        }
        &--delete a {
            color: #000000;
        }
    }
}
