.app-body {
    .alert {
        padding: 15px;
        padding-bottom: 0px;
    }

    .card-header .card-actions a {
        display: block;
        float: left;
        width: 100%;
        padding: 0.75rem 7px;
        margin: 0px 15px 10px 0px;
        text-align: center;
        background: transparent;
        border: 0;
        border-left: 1px solid #cfd8dc;
        box-shadow: 0;
    }

    a {
        cursor: pointer;
    }

    .wrap-container {
        width: 95.5%;
    }

    .menu-outer-top .Select-menu-outer {
        z-index: 999999999;
    }
}
