.modal-open .fade {
    opacity: 1;
}
.modal-open .modal.fade .modal-dialog {
    transform: translate(0, 0%);
}
.modal-open .modal-title {
    font-size: 17px;
    line-height: 1.0;
}
.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
