.app-users {
    .users-table {
        &--id {
            min-width: 150px;
        }
        &--email {
            min-width: 150px;
        }
        &--name {
            min-width: 150px;
        }
        &--gender {
            min-width: 100px;
        }
        &--role,
        &--username {
            min-width: 100px;
        }
        &--last-login,
        &--created-at,
        &--updated-at {
            min-width: 200px;
        }
    }
    .table-responsive {
        overflow-y: hidden;
    }
}
